@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

body {
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    margin: 0; /* Marges extérieures */
}

.container {
    width: 60%;
    margin: auto; /* Applique les marges extérieures sur l'espace disponible seulement si une largeur fixe a été définie */
}

/*
* Barre de navigation
*/
nav {
    background-color: rgba(0, 0, 0, 0.85); /* Couleur de fond */
    text-transform: uppercase; /* Met le texte en majuscule*/
    position: fixed;/* fixe l'élément HTML à sa position */
    top: 0; /* colle en haut */
    left: 0; /* colle à gauche */
    right: 0; /* colle à droite */
    
}

nav .container {
    display: flex;
    justify-content: space-between; /* Sépare les éléments en utilisant l'espace disponibles */
    align-items: center;
}

/* Toujours préciser la balise "a" pour effectuer des changements */
/* L'espace représente "à l'intérieur de ..."*/
nav a {
    color: white; /* Couleur de police de caractère */
    text-decoration: none; /* Enlève le soulignement du lien */
    font-weight: bold; /* Mettre le texte en gras */
}

nav ul {
    display: flex; /* Permet de disposer les éléments les uns à côtés des autres */
    list-style: none; /* Retire tous les éléments décoratifs comme les points */
    gap: 20px; /* Ecart entre les éléments */
}

/**
* Header
*/
header {
    background: linear-gradient(to right, #e71969, #f56306);
    color: white;
    text-align: center; /* Alignement horizontal */
    /* padding-top: 215px;
    padding-bottom: 215px; */
    /*padding: 215px 0 215px 0; /* Dans l'ordre : haut, droite, bas, gauche */
    padding: 215px 0;/* dans l'ordre : haut/bas et droite/gauche */
    /*padding: 215px; /* Les 4 côtés prennent une valeur */
}

header h1 {
    /* https://www.codeur.com/tuto/css/unite-de-mesure-taille-px-em-rem/#le_em */
    font-size: 6rem;
    margin: 0;
}

header h2 {
    font-size: 4rem;
    margin: 10px 0 80px 0; /* 10px haut, 0 droite, 80 px bax, 0 gauche */
}


.btn {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #991e5f;
    padding: 30px 45px; /* 30px haut et bas, 45px droite et gauche */
    border-radius: 100px; /* Arrondis les bords */
    letter-spacing: 0,2rem; /* Espacement entre les lettres */
    transition: all 500ms;
}

/**
* : hover s'enclanche dès que la souris survole l'élément
* Attention ! Pas d'espace avant et après les ":"
*/
.btn:hover {
    background-color: #ff2400;
    transition: all 500ms;
}

/**
* Change de section MAIN
*/
main section {
    display: flex;
    justify-content: space-between; /* Sépare les éléments en utilisant l'espace disponibles */
    align-items: center;
    gap: 150px;
    margin: 150px 0;
    
}

main section img {
    width: 40%;
    border-radius: 100%;
}

main section h3 {
    font-size: 4rem;
    margin: 0;
    font-weight: lighter;
}

/**
* Footer
*/
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: gray;
    border-top: 1px solid gray;

}











